.category-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0 0 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.category-item:hover {
    opacity: 0.5;
}

.category-item__txt {
    width: 100%;
}

.category-item__date {
    font-size: 0.9rem;
    color: #999999;
}

.category-item__sum {
    padding: 0.9rem 0 0 0;
    box-sizing: border-box;
    width: 90px;
    text-align: right;
    white-space: nowrap;
}
