.top {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .top {
        display: block;
        position: relative;
        margin: 10px 0 0 0;
    }
}

.menu-setup {
    width: 40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .menu-setup {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: absolute;
        top: 0;
    }
}