.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

@media screen and (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

.details_categorys {
    margin: 40px 0 0 0;
}

@media screen and (max-width: 768px) {
    .details_categorys {
        margin: 20px 0 0 0;
    }
}