.menu__detals {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #4068ea;
}

@media screen and (max-width: 768px) {
    .menu__detals {
        display: flex;
    }
}

.menu__detals li {
    display: block;
    list-style: none;
}

@media screen and (max-width: 1024px) {
    .menu__detals li {
        width: 50%;
    }
}

.menu__detals_search {
    margin: 50px 0 0 0;
}

.button_detals {
    width: 100%;
    height: 30px;
}
